<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <string>App Icon</string>
    </dict>
    <key>TVTopShelfImage</key>
    <dict>
        <key>TVTopShelfPrimaryImage</key>
        <string>Top Shelf Image</string>
        <key>TVTopShelfPrimaryImageWide</key>
        <string>Top Shelf Image Wide</string>
    </dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>GO Media uses Apple Music to stream worship albums and playlists.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>GO Videos uses your local network to find and connect to Chromecast and smart TV devices for casting.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_6C3A18CB._googlecast._tcp</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.419198793314-3ajdjnoe3kr0jkmki9ibnfacrm538boh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.gospeloutreacholympia.tv</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>govideos</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
